body {
	display: flex;
	justify-content: center;
    font-family: 'Arimo', sans-serif;
}
#container {
	width: auto;
	border: 3px solid rgb(170, 170, 170);
}
#top {
	border-bottom: 2px solid rgb(170, 170, 170);
}
#head {
	text-align: center;
	font-weight: bold;
	font-size: 1.7rem;
	margin-top: 20px;
    margin-bottom:20px;
}
#photo {
	max-width: 400px;
}
#playingTo {
	display: inline;
}
#score {
	display: flex;
	justify-content: center;
	font-size: 4rem;
	margin: 0;
}
#playingTo {
	text-align: center;
	margin-right: 5px;
}
#board {
	border-bottom: 3px solid rgb(170, 170, 170);
}
#buttons {
	display: flex;
    justify-content: center;
    border : 0px;
    margin:0px;
    color:lavender;

}
#scoreEntry {
	border-radius: 5px;
	padding: 2px;
    font-size: 1.3rem;
}
#player1but {
	background-color: rgb(87, 173, 162);
    padding:10px 42px 10px 42px;
    border:0px;
    border-radius: 4px;
    color:lavender;
}
#player2but {
    background-color: rgb(83, 153, 199);
    padding:10px 42px 10px 42px;
    border:0px;
    border-radius: 4px;
    color:lavender;
}
#resetbut {
    background-color: rgb(223, 115, 115);
    padding:10px 46px 10px 46px;
    border:0px;
    border-radius: 4px;
    color:lavender;
}
#info{
    text-align: center;
    font-size: 0.75rem;
}
#choice{
    margin-left: 110px;
    margin-bottom: 10px;
}